.body-background {
    margin: 0;
    height: 100vh;
    background: linear-gradient(45deg, black, #f5fcf600);
    background-image: linear-gradient(270deg, #539196, black);
}

body {
    font-family: 'Pixelify Sans';
}
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}
#audio {
    display: none;
}
.playmusic {
    position: fixed;
    left: 1830px;
    top: 5px;
    border: solid 2px white;
    border-radius: 13px;
    text-align: center;
    background-color: #c1e5e6;
    z-index: 10;
}

.discardscapemonster{
    display: none;
}

.input-text {
    background-color: black;
    color: white;
    border: solid 1px white;
    left: 5px;
    position: RELATIVE;
    display: none;
}


.mutemusic {
    position: fixed;
    left: 1780px;
    top: 5px;
    border: solid 2px white;
    border-radius: 13px;
    text-align: center;
    background-color: #c1e5e6;
    z-index: 10;
}

.exitbattle {
    display: none ;
}


.welcome-message {
    height: auto;
    padding: 20px 30px;
    border-radius: 30px;
    z-index: 9999999;
    transform: translate(-50%, -50%);
    left: 50%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6), 0 4px 10px rgba(0, 0, 0, 0.4);
    width: 650px;
    position: absolute;
    text-align: center;
    background: radial-gradient(circle, #bfddd9, #03523f);
    top: 50%;
    border: solid 3px rgba(255, 255, 255, 0.8);
    font-size: 20px;
    line-height: 1.5;
    animation: fade-in 0.6s ease-out;
    background-size: 200% 200%;
    background-position: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


    .welcome-message:hover {
        transform: translate(-50%, -50%) scale(1.05);
      
        box-shadow: 0 12px 30px rgba(0, 0, 0, 0.8), 0 6px 15px rgba(0, 0, 0, 0.5);
    }

@keyframes fade-in {
    0% {
        transform: translate(-50%, -50%) scale(0.8);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}
.pokescape-monster-card-container{
    width:100%; 
    display:flex;
    justify-content:center;
}
.pokescape-monster-card, .pokescape-item-card {
    width: 150px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-image: radial-gradient(#d0e5f4, #4c8cab);
    padding: 20px;
    position: relative;
    border-radius: 1rem;
    box-shadow: #000000a1 0px 4px 2px 0px;
    border: solid 1px white;
}
.pokescape-monster-img {
    width: 140px;
    max-width: 180px;
}
.pokescape-monster-hp-bar, .pokescape-monster-attack-bar {
    background: black;
    width: 100%;
    height: 6px;
    border-radius:5px;
}
.pokescape-monster-hp-bar-filled, .pokescape-monster-attack-bar-filled {
    border-radius:5px;
}
.pokescape-monster-attack-bar-filled {
    background-image: radial-gradient(#fb0000, #810303);
    height: 100%;
}
.type-badge {
    border-radius: 8px;
    font-weight: 500;
    max-width: fit-content;
    padding: 0px 8px;
    color: #ffffffba;
    position: absolute;
    top: 15px;
    right: 15px;
}
.green-dragon {
    right: -50px;
    top: 180px;
    position: absolute;
    width: 100vw;
    max-width: 1050px;
    height: auto;
    z-index: -1;
    opacity: 0.3;
}


.pokescape-monster-hp-bar-filled {
    background-image: radial-gradient(#00df11, #006904);
    height: 100%;
}
.cont-1-row {
    display: flex;
    flex-direction: row;
}
    .card-label {
        margin-top: 10px;
        margin-bottom: 2px;
        text-align: left;
    }
.card-label-2 {
    margin-top: 10px;
    margin-left:auto;
    font-weight:600;
    margin-bottom: 2px;
    text-align: left;
}

.pokescape-monster-name, .pokescape-item-name {
    font-weight: 600;
    font-size: 18px;
}
.welcome-title {
    text-shadow: -1px 0 lightblue, 0 1px lightblue, 1px 0 lightblue, 0 -1px lightgreen;
}

.main-content {
    margin-left: 15px;
    max-height: 80%;
    height: 80vh;
    max-width: 100%;
}

.welcome-subtitle {
    text-shadow: -1px 0 lightblue, 0 1px lightblue, 1px 0 lightblue, 0 -1px lightgreen;
}
.block-grass{
    background-color: green;

    width:100px;
    height:100px;
    border:solid 1px white;
}

.close-icon {
    filter: brightness(0) saturate(100%) invert(10%) sepia(100%) saturate(7450%) hue-rotate(0deg) brightness(100%) contrast(100%);
    right: 15px;
    top: 10px;
    position: absolute;
    width: 20px;
    border: solid 1px white;
}



.full-height {
    display: flex;
    max-height: 100vh;
    height: 100vh;
}
.grid-container {
    position: relative;
    height: calc(70vh);
    width: calc(70vh);
}
.move-row{
    display:flex;
    flex-direction:row;
}
.button:hover{
    filter:brightness(1.2);
}
.move-button:hover {
    filter: brightness(1.5);
}
.move-button {
    margin: 2px;
    justify-content: center;
    display: flex;
    width: calc(50%);
    border-radius: 8px;
    padding: 20px;
    background: #ffffffcc;
    border: solid 3px white;
    text-align: center;
    text-shadow: -1px 0 lightblue, 0 1px lightblue, 1px 0 lightblue, 0 -1px lightgreen;
    font-weight: 600;
    font-size: large;
}

.defendant-options {
    display: block;
    position: absolute;
    font-size: 24px;
    color: white;
    z-index: 99;
    padding: 10px;
    width: fit-content;
    text-shadow: 1px black 1px black 1px black 1px black;
    background-color: #000000;
    font-weight: 600;
    border-radius: 3px;
    bottom: 480px;
    border: solid;
    border-color: white;
    left: 610px;
    transform: translateX(-50%);
    opacity: 0;
    animation: fadeIn 0.4s forwards;
}
#explosion {
    position: absolute;
    width: 600px;
    max-width: 450px;
    top: 190px;
    left: 130px;
    display: none;
}
.moves-h {
    color: white;
    margin: 0px 0px 10px 0px;
}
@keyframes flash {
    0% {
        background: black;
    }

    50% {
        background: white;
    }

    100% {
        background: black;
    }
}

/* Styling for the flashing screen */
#flashing-screen {
    display: none; /* Initially hidden */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999; /* Ensure it appears above other elements */
    animation: flash 0.1s linear infinite;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
battle-screen-1{
    position:absolute;
    z-index:2;
}
.opponent-info, .defendant-info {
    max-width: 250px;
    min-width: 250px;
    position: absolute;
    background-image: radial-gradient(#2d5d6f, #14366b);
    border-radius: 5px;
    border: solid 1px #000000;
    padding: 10px;
    z-index: 3;
}
#opponent-rock {
    position: absolute;
    top: 370px;
    width: 700px;
    transform: translateY(-100%);
    right: 760px;
}

#opponent-image {
    position: absolute;
    top: 330px;
    /*right: 40px;*/
    right:-270px;
    width: 340px;
    height: auto;
    transform: translateY(-100%);
    
}
.battle-dialog-container {
    display: flex;
    flex-direction: column-reverse; /* Reverses the order of child elements */
    overflow-y: auto; /* Enables vertical scrolling */
    padding: 20px;
    height: calc(100% - 40px);
}

#battle-dialog {
    background-color: black;
    width: 100%;
    height: 85px;
    border-radius: 5px;
    border: solid 2px white;
    margin-top: 20px;
    bottom: 12px;
    position: relative;
    overflow-y: hidden;
}
#battle-text {
    color: white;
}
.opponent-info {
    top: 50px;
    left: 50px;
}
.defendant-info {
    bottom: 100px;
    right: 100px;
}
#defendant-image {
    position: absolute;
    bottom: -200px;
    left: -250px;
    width: 340px;
    height:auto;
}
#defendant-rock {
    position: absolute;
    bottom: -5px;
    width: 800px;
    left: -690px;
}
#battle-screen-2 {
    padding: 30px 25px;
    background-image: url(./Image/BattleBackground.png);
    position: absolute;
    z-index: 11;
    width: 100%;
    height:100%;
    background-repeat: no-repeat;
    background-size: 100%;
}
#scapemonsterInventory {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#grid {
    position: absolute;
    height: calc(70vh);
    width: calc(70vh);
    display: flex;
}
.character-one {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    transition: transform 0.5s ease-in-out;
}
.content-right{
    max-width:50%;
}

.music-buttons {
    position: relative;
    display:flex;
    margin-bottom: 50px;
    justify-content: space-between;
}



.content-left-span {
}
.content-left-span .col{
    flex-grow:1;
}
.content-left-span .block, .content-left-span .image {
    display:flex; 
}
.content-left-span {
    height: calc(70vh);
    width: calc(70vh);
    position: relative;
    overflow: hidden;
    /*overflow:visible;*/
    border-radius: 20px;
    display: flex;
    border: solid 2px white;
    background-color: black;
}

.content-right {
    flex: 1;
    flex-grow: 1;
    padding: 0 20px;
    background-color: #ffffff5e;
    background-size: 100% 100%;
    border-radius: 1rem;
    margin-left: 20px;
    max-height: 70%;
}

.logo-row {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.logo {
    width: 600px;
    max-width: 100%;
    margin-top: 14px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
}

.button {
    margin-left: 5px;
    white-space: nowrap;
    padding: 10px 10px;
    position: relative;
    font-weight: 700;
    z-index: 2;
    border: solid 2px white;
    border-radius: 13px;
    text-align: center;
    font-size: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: calc(100% - 55px) !important;
    display: block;
    height: auto;
    background-color: #c1e5e6;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    margin-top: 10px;
}



.batbutton {
    padding: 5px 5px;
    position: relative;
    z-index: 2;
    border: solid 2px white;
    border-radius: 7px;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    display: block;
    height: auto;
    background-color: #6252a3;
    /* text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; */
    margin-top: 10px;
}

.movebut{
    display: none;
}

.line-row {
    width: 100%;
    height: 1px;
    background-color: #ffffff6b;
    margin-bottom: 50px;
}
.content-right {
    border: solid white 1px;
}

.inventory-box {
    height: 400px;
    display: none;
    background-color: lightblue;
  
    margin-left: 36px;
    width: calc(100% - 51px) !important;
    margin-top: -15px;
    border-radius: 15px;
}
.button.selected{
    background-color:white !important;
}
.button-controls .button{
    width:30%; 
    max-width:30%;
    height:fit-content;
    top: -10px;
}
.button-controls{
    display:flex;
    margin-top:30px;
    justify-content:space-between;
}
.inventory-title {
    position: relative;
    margin: 0px !important;
    padding-top: 25px;
    padding-left: 12px;
}

